body{
    background-image: url('accueil.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

header{
    color: white;
}

main>button {
    border-style: groove;
    border-radius: 0px;
    background-color: transparent;
}